<include file="Common/header" />
<div class="container">
    <h2>书签推荐</h2>
    <table>
        <thead>
        <th>#</th>
        <th>备注名</th>
        <th>网址</th>
        <th>操作</th>
        </thead>
        <tbody>
        <foreach name="bookmarks" item="k">
            <tr>
                <td>{$k.id}</td>
                <td>{$k.title}</td>
                <td>
                    <a href="{$k.url}" target="_blank">{$k.url}</a>
                </td>
                <td>
                    <a href="{:U('user/addBookmark', ['url' => urlencode($k[url])])}">加入书签</a>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>

</div>

<include file="Common/footer" />