<include file="Common/header" />
<div class="container">
    <div class="col-md-6">
        <h3>忘记密码</h3>
        <hr>
        <form method="post" action="{:U('user/forgot')}">
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-addon">用户名</label>
                    <input type="text" class="form-control" placeholder="用户名" name="username">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="input-group-addon">电子邮件</label>
                    <input type="email" class="form-control" placeholder="电子邮件" name="email">
                </div>
            </div>

            <hr>
            <input type="submit" class="btn btn-default" value="提交">
        </form>

    </div>
</div>

<include file="Common/footer" />