<footer class="footer">
    <div class="container">
        <ul class="list-unstyled list-inline">
            <li><a href="https://github.com/LittleJake" target="_blank">Github</a></li>
            <li><a href="{:U('index/about')}">关于</a></li>
        </ul>
        <p>LittleJake. All Rights Reserved.</p>
        <p>Licenced by <a href="https://apache.org/licenses/LICENSE-2.0" target="_blank">Apache2.0</a></p>
    </div>
</footer>
</body>
<include file="Common/js" />
<include file="Common/css" />
</html>